[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204,
         D104,  # no docstring in public package
         D200,  # One-line docstring should fit on one line with quotes
         D107,  #  Missing docstring in __init__

exclude =
    *_venv
    venv_*
max-complexity = 7
max-cognitive-complexity = 5
per-file-ignores =
    # No docs and annotation required for tests
    test*.py: D10, D101, D103, S101, ANN
    # Skip unused imports in __init__ files
    __init__.py: F401

# Import order https://pypi.org/project/flake8-import-order/
application-import-names = {{cookiecutter.module_name}}
import-order-style = pycharm

doctests = True
