default_stages:
  - commit
  - manual
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8/
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-annotations==2.8.0
          - flake8-bandit==3.0.0
          - bandit==1.7.4 # https://github.com/PyCQA/bandit/issues/841#issuecomment-1056819263
          - flake8-bugbear==22.3.23
          - flake8-builtins==1.5.3
          - flake8-cognitive-complexity==0.1.0
          - flake8-comprehensions==3.8.0
          - flake8-docstrings==1.6.0
          - flake8-eradicate==1.2.0
          - flake8-print==4.0.0
          - flake8-pytest-style==1.6.0
          - flake8-return==1.1.3
          - pep8-naming==0.12.1
  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
      - id: gitlint
