repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8/
    rev: 3.8.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-annotations==2.5.0
          - flake8-bandit==2.1.2
          - flake8-bugbear==20.11.1
          - flake8-builtins==1.5.3
          - flake8-cognitive-complexity==0.1.0
          - flake8-comprehensions==3.3.1
          - flake8-docstrings==1.5.0
          - flake8-eradicate==1.0.0
          - flake8-import-order==0.18.1
          - flake8-mutable==1.2.0
          - flake8-print==4.0.0
          - flake8-pytest-style==1.3.0
          - flake8-return==1.1.2
          - pep8-naming==0.11.1
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.15.0
    hooks:
      - id: gitlint
